body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --body-text: #434445;
  --iris: #4D5AE5;
  --navyblue: #2E2F42;
  --white: #FFFFFF;
  --ocean: #404BBF;
  --green: #31D0AA;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
}

li {
  list-style-type: none;

}


a {
  text-decoration: none;
}

/* header */

.logo {
  text-decoration: none;
  color: var(--iris);
  font-family: Raleway;
  text-transform: uppercase;
}

.logo-header {
  color: var(--navyblue)
}

.logo-footer {
  color: var(--cloud);
}

.navigation-item-link {
  color: var(--navyblue)
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--ocean);
  text-decoration: underline;
}

.address-item-link {
  font-weight: 400;
  color: var(--body-text);
  font-style: normal;
}

.address-item-link:hover,
.address-item-link:focus {
  color: var(--ocean);
}

/* hero section */

.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-service-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04;
  background-color: var(--iris);
  color: var(--cloud);
}

.order-service-button:hover,
.order-service-button:focus {
  background: var(--ocean);
  cursor: pointer;

}

}

.our-team {
  background-color: var(--cloud);
}

.text {
  color: var(--body-text)
}

.footer {
  background-color: var(--navyblue);
}

.footer-text {
  color: var(--cloud);
}


.filter-button {
  font-family: inherit;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  color: var(--iris);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
}



.projects {
  border: 1px solid var(--cornflower);
  background-color: var(--white, #FFF);
}