body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  background-color: var(--white);
}

:root {
  --body-text: #434445;
  --iris: #4D5AE5;
  --navyblue: #2E2F42;
  --white: #FFFFFF;
  --ocean: #404BBF;
  --green: #31D0AA;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.logo {
  text-decoration: none;
  color: var(--iris);
  font-family: Raleway;
  text-transform: uppercase;
}

.logo-header {
  color: var(--navyblue)
}

.logo-footer {
  color: var(--cloud);
}

.navigation-item-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--ocean);
  text-decoration: underline;
}

.address-item-link {
  color: var(--body-text);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item-link:hover,
.address-item-link:focus {
  color: var(--ocean);
}

/* hero section */

.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.order-service-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--cloud);
}

.order-service-button:hover,
.order-service-button:focus {
  background: var(--ocean);
  cursor: pointer;

}

.main-text {
  color: var(--body-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* Features */

.features-subtitle,
.team-subtitle,
.projects-item-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}



/* Our team */
.our-team {
  background-color: var(--cloud);
}

.our-job,
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  s
}

.team-list {}

.team-item {
  background-color: var(--white);
}

/* footer */

.footer {
  background-color: var(--navyblue);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* second pages-Portfolio */

.projects-filter-btn {
  font-family: inherit;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  color: var(--iris);
}

.projects-filter-btn:hover,
.projects-filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
}

.projects-item {
  border: 1px solid var(--cornflower);
}